---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -4
IndentAccessModifiers: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
SortIncludes: false
IncludeBlocks: Preserve
DerivePointerAlignment: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
Cpp11BracedListStyle: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
ReflowComments: false
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
